body {
   display: flex;
   flex-direction: column;
}

section {
  margin: 20px;
}

.wrapper {
   display: flex;
}

.wrapper > section {
   width: 320px;
   height: 200px;
}

.wrapper p {
   width: 100%;
   height: 90%;
   border: 1px solid gray;
}

input[name="shift"] {
   width: 120px;
}

textarea {
   vertical-align: top;
}

.error {
  color: red;
}

.ok {
  color: green;
}

.loading {
  color: gray;
}

.
